/* Styles de base */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #ffffff;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* En-tête */
h1 {
  font-family: "Roboto", sans-serif;
  color: #213547;
  font-size: 3.2em;
  line-height: 1.1;
}

/* Contenu de l'application */
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Liste des habitudes */
#listHabits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

#listHabits li {
  color: #000000;
  margin: 5px;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.1s ease;
  max-width: 350px;
  transform: scale(1);
  transition: transform 0.2s ease;
}

#listHabits .habit-done {
  background-color: #28a7463b;
  border: 1px solid #28a745;
}

#listHabits .habit-not-done {
  background-color: #dc35464e;
  border: 1px solid #dc3545;
}

.habit-container {
  display: flex;
  margin-bottom: 10px;
}

.icon-done,
.icon-not-done {
  margin-left: 20px;
}

/* Bouton de suppression d'habitude */
.delete-button {
  padding-left: 20px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

/* Boutons d'historique et ajout d'habitude */
.historyBtn,
.habitBtn {
  background-color: #2564a1;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid #2564a1;
  padding: 0.6em 1.2em;
  margin-top: 1em;
  margin-bottom: -0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.historyBtn:hover,
.habitBtn:hover {
  background-color: #19446d;
  color: #f4f4f4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.historyBtn:focus,
.habitBtn:focus,
.historyBtn:focus-visible,
.habitBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Modale */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.782);
}

.modal-content {
  overflow-x: auto;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  max-height: 300px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Bouton pour fermer la modale */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  cursor: pointer;
  top: -0.4em;
  right: 0.2em;
  position: absolute;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Champ de saisie nouvelle habitude */
#habit-input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-error::placeholder {
  color: red;
}

/* Tableau d'historique */
.history-table {
  min-width: 600px;
  border-collapse: collapse;
  text-align: left;
  font-size: 13px;
}

.history-table th {
  background-color: #f2f2f2;
  white-space: nowrap;
}

.history-table tbody tr:nth-child(even) {
  background-color: #e9e9e9;
}

.history-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.history-table th,
.history-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Titre de l'historique */
.history-title {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

.check-mark {
  color: green;
}

.cross-mark {
  color: red;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
